<%  if(success && success.length){ %>
    <!-- //alert for flash but we will use in flash.ejs partials -->
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: center; color: red;font-size: large;font-weight: 800;">
        <strong><%= success %></strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

<% } %>


<!-- error in flash -->
<%  if(error && error.length){ %>
    <!-- //alert for flash but we will use in flash.ejs partials -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center; color: red;font-size: large;font-weight: 800;">
        <strong><%= error %></strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

<% } %>

